@import '../../../node_modules/izitoast/dist/css/iziToast.css';

/* Base styles */

li {
  list-style: none;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
}

.exercises-subcontainer {
  margin-bottom: 80px;
}

/* .exercises-container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;             
} */

/* Exercises styles */

.exercises-tiles-filter-list {
  display: grid;
  gap: 20px;
  margin-bottom: 20px;
}

.exercises-filter-tile-item {
  position: relative;
  max-width: 335px;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.exercises-filter-tile-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(17, 17, 17, 0.5) 0%,
    rgba(17, 17, 17, 0.5) 100%
  );
}

.exercises-filter-tile-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.exercises-filter-tile-text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  pointer-events: none;
}

.exercises-filter-tile-headline {
  margin-bottom: 2px;
  color: var(--second-color-light-theme);
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}

.exercises-filter-tile-text {
  color: var(--grey-eight);
  font-size: 12px;
  line-height: 1.5;
}

/* Category styles */

.exercises-tiles-category-list {
  display: grid;
  gap: 20px;
  margin-bottom: 20px;
}

.exercises-category-tile-item {
  max-width: 335px;
  height: 100%;
  padding: 16px;
  border-radius: 15px;
  background-color: #ffffff;
}

.exercises-category-tile-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.exercises-category-tile-workout-wrapper {
  display: flex;
}

.exercises-category-tile-badge {
  padding: 5px 8px;
  margin-right: 16px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 15px;
  border: 1px solid var(--main-color-light-theme);
}

.exercises-category-tile-rating-wrapper {
  display: flex;
  align-items: center;
}

.exercises-category-tile-rating {
  margin-right: 2px;
  font-size: 12px;
  line-height: 1.5;
}

.exercises-category-tile-star-icon {
  fill: var(--stars-color-activ);
}

.exercises-category-tile-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 22px;
  font-size: 14px;
  line-height: 1.29;
}

.exercises-category-tile-arrow-icon {
  stroke: var(--main-color-light-theme);
  margin-left: 8px;
}

.exercises-category-tile-middle {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 16px;
}

.exercises-category-tile-man-icon {
  margin-right: 16px;
  fill: var(--second-color-light-theme);
  background-color: var(--main-color-light-theme);
  border-radius: 50%;
}

.exercises-category-tile-name {
  width: 250px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.exercises-category-tile-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exercises-category-tile-bottom-item {
  font-size: 12px;
  line-height: 1.5;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.exercises-category-tile-bottom-item:nth-child(1) {
  width: 115px;
}

.exercises-category-tile-bottom-item:nth-child(2) {
  width: 91px;
}

.exercises-category-tile-bottom-item:nth-child(3) {
  width: 61px;
}

.exercises-category-tile-bottom-title {
  color: var(--grey-two);
}

/* Pagination styles */

.exercises-pagination-list {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.exercises-pagination-item {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 0.8px;
  color: var(--pagination-not-activ);
  cursor: pointer;
}

.exercises-pagination-item-active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31px;
  height: 31px;
  color: var(--main-color-light-theme);
  border: 1px solid var(--main-color-light-theme);
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .exercises-subcontainer {
    margin-bottom: 64px;
  }
  /* .exercises-container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  } */
  .exercises-tiles-filter-list {
    grid-template-columns: auto auto auto;
    row-gap: 32px;
    column-gap: 15px;
    margin-bottom: 32px;
  }
  .exercises-filter-tile-item {
    max-width: 225px;
    height: 225px;
  }
  .exercises-filter-tile-headline {
    font-size: 24px;
    line-height: 1;
  }
  .exercises-tiles-category-list {
    grid-template-columns: auto auto;
    row-gap: 32px;
    column-gap: 16px;
    margin-bottom: 32px;
  }
  .exercises-category-tile-item {
    max-width: 344px;
  }
  .exercises-category-tile-button {
    width: 64px;
    height: 24px;
    font-size: 16px;
    line-height: 1.5;
  }
  .exercises-category-tile-middle {
    margin-bottom: 8px;
  }
  .exercises-category-tile-name {
    font-size: 24px;
    line-height: 1.33;
  }
}

@media screen and (min-width: 1440px) {
  .exercises-subcontainer {
    margin-bottom: 0;
  }
  .exercises-filter-tile-item {
    width: 290px;
    max-width: 290px;
    height: 242px;
  }
  .exercises-category-tile-item {
    width: 442px;
    max-width: 442px;
  }
}
