.meta-exercises-quote-section {
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .meta-exercises-quote-section {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .meta-exercises-quote-section {
    padding-bottom: 132px;
  }
  .exercises-and-quote-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
    justify-content: start;
  }
}
