.mobile-menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background: var(--main-color-light-theme, #242424);
    z-index: 10;
    transition: transform var(--transition-duration-time-function);
}

.mobile-menu-backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0%);
}

.mobile-menu-container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

.mobile-menu-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    flex-shrink: 0;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.mobile-menu-close-icon {
    width: 32px;
    height: 32px;
    stroke: var(--second-color-light-theme, #F4F4F4);
    transition: opacity var(--transition-duration-time-function);

    &:hover,
    &:focus {
        opacity: 60%;
    }
}

.mobile-menu-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    margin-top: 228px;
}

.mobile-menu-item {
    color: var(--second-color-light-theme, #F4F4F4);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
}

body.mobile-menu-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
}
