.rating-backdrop {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(4, 4, 4, 0.40);
}

.rating-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 335px;
    padding: 40px 20px;
    border-radius: 20px;
    background: var(--main-color-light-theme);  
}

@media screen and (min-width: 768px) {
    .rating-container {
        width: 430px;
        padding: 40px;
    }
}

.rating__fieldset {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    gap: 2px;
}

.rating__close-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}

.rating__icon-close {
    width: 28px;
    height: 28px;
    stroke: var(--second-color-light-theme);
}

.rating__icon-star {
    width: 24px;
    height: 24px;
    fill: var(--second-color-light-theme);
    opacity: 0.2;
}

.rating__icon-star--active { fill: var(--stars-color-activ)}

.rating__title {
    color: var(--second-color-light-theme);
    opacity: 0.4;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    margin-bottom: 8px;
}

.rating__value {
    color: var(--second-color-light-theme);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    width: 19px;
    height: 19px;
}

.rating__input {
    display: none;
}
.rating__label {
    display: block;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.rating__input-email {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */

    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    padding: 12px 14px;
    border-radius: 30px;
    border: 1px solid var(--second-color-light-theme);
    color: var(--second-color-light-theme);
    background-color: transparent;
}

@media screen and (min-width: 768px) {
    .rating__input-email {
        font-size: 16px;
        line-height: 24px; /* 150% */
        margin-top: 32px;
    }
}

.rating__input-comment {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */

    display: inline-flex;
    align-items: center;
    height: 94px;
    margin-top: 10px;
    padding: 12px 14px;
    gap: 10px;
    border: 1px solid var(--second-color-light-theme);
    border-radius: 15px;
    color: var(--second-color-light-theme);
    background-color: transparent;
    resize: none;
}

@media screen and (min-width: 768px) {
    .rating__input-comment {
        font-size: 16px;
        line-height: 24px; /* 150% */
        margin-top: 16px;
    }
}

.rating__submit-btn {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */

    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    margin-top: 20px;
    border-radius: 30px;
    color: var(--main-color-light-theme);
    background: var(--second-color-light-theme);
}

@media screen and (min-width: 768px) {
    .rating__submit-btn {
        font-size: 16px;
        line-height: 24px; /* 150% */
        margin-top: 32px;
    }
}

.modal {
    display: none;
}

.modal-open {
    display: flex;
}
