/* Styles for the modal */

.background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--modal-background-light-theme); 
    justify-content: center;  
    align-items: center; 
}

.modal{
    position: relative;
    background-color: var( --main-color-light-theme);
    color: var(--background-light-theme);
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px 20px;
    width: 335px;
    border-radius: 20px;
}

.close {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
}

.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close-icon{
    width: 24px;
    height: 24px;
    stroke: var(--background-light-theme)
}

.gif-wrapper {
    position: relative;
    width: 295px;
    height: 258px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 12px;
    overflow: hidden;
}

.gif {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gif-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(4, 4, 4, 0.20) 0%, rgba(4, 4, 4, 0.20) 100%) ;
}

.card-title{
    font-family: var(--main-font);
    color: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 10px;
}

.rating-container{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--grey-seven);
}
.rating{
    color: inherit;  
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
}

.close-icon{
    width: 24px;
    height: 24px;
    stroke: var(--background-light-theme)
}

.star-icon{
    width: 14px;
    height: 14px;
    fill: var(--grey-seven);
    stroke: transparent;
    margin-left: 3px;
}

.colored-star{
    fill: #EEA10C;
}

.star-wrapper{
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
}


.details-container{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

.details-wrapper{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.calories{
    padding-bottom: 10px;
    border-bottom: 1px solid var(--grey-seven);
}


.details-title{
    color: var(--grey-eight);
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 4px;
}

.details-title:nth-child(2){
    width: 55px;
}

.details-info{
    color: #F4F4F4;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;  
}

.description{
    margin-top: 20px;
    margin-bottom: 40px;
    color: var(--grey-nine);   
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
}

.btns-wrapper{
    display: flex;
    justify-content: space-between;
}

.btn{
    display: flex;
    align-items: center;
    height: 42px;
    border-radius: 30px;
    padding: 12px 19px;
}

.fav-btn{
    background-color: var(--background-light-theme);
    color: var(--main-color-light-theme);
    border: none;
}
.rating-btn{
    background-color: var(--main-color-light-theme);
    color: var(--second-color-light-theme);
    border: 1px solid var(--second-color-light-theme);
}

.btn-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28; 
}

.fav-btn-text{
    margin-right: 8px;
}

.heart-icon{
    stroke: var(--main-color-light-theme);
    fill: none;
    width: 18px;
    height: 18px;
}
@media screen and (min-width: 768px) {
    .modal{
        margin-left: 32px;
        margin-right: 32px;
        padding: 32px;
        width: 704px;
        border-radius: 20px;
    }
    
    .close {
        top: 16px;
        right: 16px;
        width: 28px;
        height: 28px;
    }
    
    .close-icon{
        width: 28px;
        height: 28px;
    }
    .main-container{
        display: flex;
    }
    
    .content-wrapper{
        margin-left: 32px;
        width: 338px;
    }
    
    .gif-wrapper {
        width: 270px;
        height: 259px;
        margin-bottom: 158px;
    }
    
    .rating-container{
        padding-bottom: 16px;
    }
    
    
    .details-container{
        margin-top: 8px;
        margin-bottom: 16px;
    }

    .calories{
        padding-bottom: 8px;
    }
}