.page-error-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color-light-theme);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 9999;
    overflow: hidden;
}

.page-error-container p {
    color: var(--background-light-theme);
}
