.scroll-up-container {
  position: fixed;
  right: 40px;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--second-color-light-theme);
  background-color: var(--main-color-light-theme);
}

.scroll-up-icon {
  width: 14px;
  height: 14px;
  stroke: var(--second-color-light-theme);
  rotate: 270deg;
}

@media screen and (min-width: 375px) {
  .scroll-up-container {
    right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .scroll-up-container {
    bottom: 40px;
    right: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .scroll-up-container {
    width: 100px;
    height: 100px;
    border: 2px solid var(--second-color-light-theme);
    bottom: 5px;
  }

  .scroll-up-icon {
    width: 33px;
    height: 33px;
  }
}

.scroll-up-img:hover,
.scroll-up-img:focus {
  transform: scale(1.1);
}