.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    @media screen and (min-width: 1280px) {
            margin-top: 28px;
        }
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-nav-list { 
    display: none; 

    @media screen and (min-width: 767px){
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 18px;
        width: 233px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 60px;
        background: var(--main-color-light-theme, #242424);
    }
    
    @media screen and (min-width: 767px) and (max-width: 1279px) {
        margin-right: calc(80px + ((100vw - 767px) / (1279 - 767) * (400 - 80)));
    }

    @media screen and (min-width: 1280px) {
        width: 265px;
        height: 52px;
        margin-right: 400px;
    }   
}

.header-nav-list-item{
    color: var(--second-color-light-theme, #F4F4F4);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.header-nav-current {
    display: inline-flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: var(--second-color-light-theme, #F4F4F4);
    color: var(--main-color-light-theme, #242424);
}

.burger-menu-btn{
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 6px 4px;
    transition: opacity var(--transition-duration-time-function);
    
    @media screen and (min-width: 767px) {
        display: none;
    }
}

.burger-menu-btn-line {
    width: 24px;
    height: 2px;
    background-color: var(--main-color-light-theme, #242424);
    transition: opacity var(--transition-duration-time-function);

    &:hover,
    &:focus {
        opacity: 80%;
    }
}

