<div class="exercises-meta-subcontainer">
  <div class="exercises-headline-wrapper">
    <h2 class="exercises-headline">Exercises</h2>
    <div
      class="exercises-headline-category-wrapper js-headline-category-wrapper visually-hidden"
    >
      <span class="exercises-headline">&nbsp;/&nbsp;</span>
      <span class="exercises-headline-category js-headline-category"></span>
    </div>
  </div>
  <div class="exercises-input-and-buttons-wrapper">
    <load ="partials/search-input.html" />

    <div class="exercises-buttons-wrapper">
      <button class="exercises-category-button active-button js-button">
        Muscles
      </button>
      <button class="exercises-category-button js-button">Body parts</button>
      <button class="exercises-category-button js-button">Equipment</button>
    </div>
  </div>
</div>
