<section class="exercises-section">
  <div class="exercises-container">
    <div class="exercises-meta">
      <div class="exercises-headline-wrapper">
        <h2 class="exercises-headline">Exercises</h2>
        <div
          class="exercises-headline-category-wrapper js-headline-category-wrapper visually-hidden"
        >
          <span class="exercises-headline">&nbsp;/&nbsp;</span>
          <span class="exercises-headline-category js-headline-category"></span>
        </div>
      </div>
      <div class="exercises-data">
        <load ="partials/search-input.html" />

        <div class="exercises-buttons-wrapper">
          <button class="exercises-category-button active-button js-button">
            Muscles
          </button>
          <button class="exercises-category-button js-button">
            Body parts
          </button>
          <button class="exercises-category-button js-button">Equipment</button>
          <button
            class="exercises-category-button your-choice-button"
            data-micromodal-trigger="your-choice-modal"
          >
            Your choice
          </button>
        </div>
      </div>
    </div>
    <ul class="exercises-tiles-filter-list js-tiles-filter-list"></ul>
    <ul class="exercises-tiles-category-list js-tiles-category-list"></ul>
    <ul class="exercises-pagination-list js-pagination"></ul>
  </div>
</section>
