<section class="quote-section-fav">
  <div class="quote-article-fav">
    <div class="quote-wrapper">
      <h3 class="quote-title title">Quote of the day</h3>
    </div>

    <div class="quote-icon-circle">
      <svg class="icon-running-man" aria-label="icon-running-man">
        <use href="./img/icons.svg#icon-running-man"></use>
      </svg>
    </div>

    <svg class="icon-commas" aria-label="icon-running-man">
      <use href="./img/icons.svg#icon-commas"></use>
    </svg>
  </div>

  <article class="daily-norm-fav">
    <svg class="icon-dumb-bel-fav" aria-label="dumb-bell">
      <use href="./img/icons.svg#icon-dumb bell"></use>
    </svg>

    <h3 class="daily-norm-title title">110 min</h3>
    <p class="daily-norm-desc">Daily norm of sports</p>
  </article>

  <img
    srcset="
      ./img/quote/favorites/quote-fav-mob@1x.jpg   320w,
      ./img/quote/favorites/quote-fav-mob@2x.jpg   640w,
      ./img/quote/favorites/quote-fav-tab@1x.jpg   768w,
      ./img/quote/favorites/quote-fav-tab@2x.jpg  1536w,
      ./img/quote/favorites/quote-fav-desk@1x.jpg 1280w,
      ./img/quote/favorites/quote-fav-desk@2x.jpg 1560w
    "
    sizes="(max-width: 767px) 320px, (max-width: 1279px) 768px, (min-width: 1440px) 1280px"
    src="./img/quote/favorites/quote-fav-mob@1x.jpg"
    alt="women talking in sportswear"
    class="favorites-quote-img"
  />
</section>
