<section class="hero-section">
  <div class="hero-container">
    <div class="hero-title-desc-wrap">
      <div class="hero-title-desc-left">
        <div class="hero-title-wrap">
          <div class="hero-title-top">
            <svg class="hero-title-icon">
              <use href="./img/icons.svg#icon-sun"></use>
            </svg>
            <p class="hero-title">
              Get <span class="hero-title-inside-span">Body</span> in
            </p>
          </div>
          <p class="hero-title hero-title-bottom">shape, Stay healthy</p>
        </div>
        <p class="hero-desc">
          Transform your physique and embrace a healthier lifestyle with our
          comprehensive fitness and nutrition support.
        </p>
      </div>
      <div class="hero-title-desc-right">
        <div class="hero-desktop-right-img"></div>
        <load ="partials/hero-tags.html" />
      </div>
    </div>
    <div class="hero-img"></div>
    <div class="hero-tags-bottom">
      <load ="partials/hero-tags.html" />
    </div>
  </div>
</section>
