<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-title-desc-wrap">
      <div class="hero-title-desc-left">
        <div class="hero-title-wrap">
          <div class="hero-title-top">
            <svg class="hero-title-icon">
              <use href="./img/icons.svg#icon-sun"></use>
            </svg>
            <p class="hero-title">
              Get <span class="hero-title-inside-span">Body</span> in
            </p>
          </div>
          <p class="hero-title hero-title-bottom">shape, Stay healthy</p>
        </div>
        <p class="hero-desc">
          Transform your physique and embrace a healthier lifestyle with our
          comprehensive fitness and nutrition support.
        </p>
      </div>
      <div class="hero-title-desc-right">
        <div class="hero-desktop-right-img">
          <img
            srcset="
              ./img/hero/hero-right-desktop@1x.jpg 1x,
              ./img/hero/hero-right-desktop@2x.jpg 2x
            "
            src="./img/hero/hero-right-desktop@1x.jpg"
            alt="women do leg clap"
          />
        </div>
        <load ="partials/hero-tags.html" />
      </div>
    </div>

    <div class="hero-img">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/hero/hero-mobile@1x.jpg 1x,
            ./img/hero/hero-mobile@2x.jpg 2x
          "
          width="335"
          height="460"
        />
        <source
          media="(max-width: 1439px)"
          srcset="
            ./img/hero/hero-tablet@1x.jpg 1x,
            ./img/hero/hero-tablet@2x.jpg 2x
          "
          width="704"
          height="550"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/hero/hero-desktop@1x.jpg 1x,
            ./img/hero/hero-desktop@2x.jpg 2x
          "
          width="1376"
          height="350"
        />
        <img src="./img/hero/hero-desktop@1x.png" alt="women do clap" />
      </picture>
    </div>
    <div class="hero-tags-bottom">
      <load ="partials/hero-tags.html" />
    </div>
  </div>
</section>
