<button id="openModalBtn">Open Modal</button>

<div id="myModal" class="background">
  <div class="modal">
    <button class="close" type="button">
      <svg class="close-icon" aria-label="logo icon">
        <use href="./img/icons.svg#icon-close-btn"></use>
      </svg>
    </button>
    <div class="main-container" id="exerciseDetails"></div>
    <div class="btns-wrapper">
      <button class="btn fav-btn">
        <span class="btn-text fav-btn-text">Add to favorites</span>
        <svg class="heart-icon" aria-label="logo icon">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
      </button>
      <button class="btn rating-btn">
        <span class="btn-text">Give a rating</span>
      </button>
    </div>
  </div>
</div>
