<!-- <button id="openModalBtn">Open Modal</button> -->

<div id="myModal" class="main-modal__background">
  <div class="main-modal">
    <button class="main-modal__close" type="button">
      <svg class="main-modal__close-icon" aria-label="logo icon">
        <use href="./img/icons.svg#icon-close-btn"></use>
      </svg>
    </button>
    <div class="main-modal__main-container" id="exerciseDetails"></div>
    <div class="main-modal__btns-wrapper">
      <button class="main-modal__btn main-modal__fav-btn">
        <span class="main-modal__btn-text main-modal__fav-btn-text">Add to favorites</span>
        <svg class="main-modal__heart-icon" aria-label="logo icon">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
      </button>
      <button class="main-modal__btn main-modal__rating-btn">
        <span class="main-modal__btn-text">Give a rating</span>
      </button>
    </div>
  </div>
</div>
