<section class="quote-section">
  <div class="quote-article">
    <div class="quote-wrapper">
      <h3 class="quote-title title">Quote of the day</h3>
    </div>

    <div class="quote-icon-circle">
      <svg class="icon-running-man" aria-label="icon-running-man">
        <use href="./img/icons.svg#icon-running-man"></use>
      </svg>
    </div>

    <svg class="icon-commas" aria-label="icon-running-man">
      <use href="./img/icons.svg#icon-commas"></use>
    </svg>
  </div>

  <img
    srcset="
      ./img/quote/quote-mobile@1x.jpg   320w,
      ./img/quote/quote-mobile@2x.jpg   640w,
      ./img/quote/quote-tablet@1x.jpg   768w,
      ./img/quote/quote-tablet@2x.jpg  1536w,
      ./img/quote/quote-desktop@1x.jpg 1280w,
      ./img/quote/quote-desktop@2x.jpg 1560w
    "
    sizes="(max-width: 767px) 320px, (max-width: 1279px) 768px, (min-width: 1440px) 1280px"
    src="./img/quote/desktop@1x.jpg"
    alt="women talking in sportswear"
    class="quote-img"
  />

  <article class="daily-norm">
    <h3 class="daily-norm-title title">110 min</h3>
    <p class="daily-norm-desc">Daily norm of sports</p>
    <p class="daily-norm-text">
      The World Health Organization recommends at least 150 minutes of
      moderate-intensity aerobic physical activity throughout the week for
      adults aged 18-64. However, what happens if we adjust that number to 110
      minutes every day? While it might seem like a high number to hit,
      dedicating 110 minutes daily to sporting activities may offer unparalleled
      benefits to physical health, mental well-being, and overall quality of
      life.
    </p>

    <div class="daily-norm-icon-circle">
      <svg class="icon-dumb-bell" aria-label="dumb-bell">
        <use href="./img/icons.svg#icon-dumb bell"></use>
      </svg>
    </div>
  </article>
</section>
