<div class="modal micromodal-slide" id="your-choice-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1">
    <div
      class="modal__container"
      role="dialog"
      aria-modal="true"
      aria-labelledby="your-choice-modal-title"
    >
      <header class="modal__header">
        <p class="modal__title" id="your-choice-modal-title">Choose your set</p>
        <button
          class="modal__close"
          aria-label="Close modal"
          data-micromodal-close
        ></button>
      </header>
      <main class="modal__content" id="your-choice-modal-content">
        <div class="modal__content-loading">Loading...</div>

        <div class="select-group hidden">
          <label>Body part</label>
          <select id="you-choice-body-part"></select>
        </div>

        <div class="select-group hidden">
          <label>Muscle</label>
          <select id="your-choice-muscle"></select>
        </div>

        <div class="select-group hidden">
          <label>Equipment</label>
          <select id="your-choice-equipment"></select>
        </div>
      </main>
      <div class="modal__footer">
        <button id="search-exercises" class="modal__btn modal__btn-primary">
          Search excercises
        </button>
      </div>
    </div>
  </div>
</div>
