/*-----base-----*/
@import url('../css/base/reset.css');
@import url('../css/base/common.css');
@import url('../css/base/container.css');
@import url('../css/base/visually-hidden.css');

/*-----components-----*/
@import url('../css/components/header.css');
@import url('../css/components/logo.css');
@import url('../css/components/social-list.css');
@import url('../css/components/mobile-menu.css');
@import url('../css/components/modal.css');
@import url('../css/components/modal-rating.css');
@import url('../css/components/exercises.css');
@import url('../css/components/search-input.css');
@import url('../css/components/hero.css');
@import url('../css/components/quote.css');
@import url('../css/components/footer.css');
@import url('../css/components/privacy-terms.css');

@import url('../css/components/page-error.css');
@import url('../css//components/scroll-up.css');

/*-----layouts-----*/
@import url('../css/layouts/loader.css');

/*-----variables-----*/
@import url('./utils/variables.css');
